<% comment.mark_as_read! :for => current_user %>
<li class="comment">
	<div class="username"><strong><%= comment.user.name %></strong></div>
	<div class="commentbody"><%= comment.content %></div>
  	<div class="timestamp">Posted <%= time_ago_in_words(comment.created_at) %> ago &sdot; <%= link_to "Delete", [@events, comment], method: :delete %></div>
</li>