    <div class="row">
        <div class="span12 hero-content">
            <h1>Wedding planning is expensive.</h1>
            <h2>Plan the wedding of your dreams—</h2>
            <h2>without giving up your other ones.</h2><br/>

            <% if not user_signed_in? %>
            <%= link_to 'Sign up', new_user_registration_path %>
            <% end %>
        </div>
        <div class="row hero"></div>
    </div>

    <div class="row landing-comments">
        <div class="span4">
            <h2>Personalize</h2>
            <p>Every wedding is different. Hitched lets you keep track of what's important to you, even if your plans change.</p>
        </div>
        <div class="span4">
            <h2>Plan</h2>
            <p>Hitched offers professional advice about every part of your wedding. We have the best advice to help you find the right photographer, caterer and venue while suggesting a comfortable timeline to get it all done.</p>
        </div>
        <div class="span4">
            <h2>Present</h2>
            <p>It's easy to share your decisions with your friends and family. Whenever you decide on an important date or want feedback on everything from dinner to dresses, it's a snap to get feedback from the people who mean the most to you.</p>
        </div>
    </div>
