<% provide(:title, "Your Timeline") %>

<div class="container">
  <div class="row">
    <div class="span12">
      <h2>Timeline</h2>
      <h3>Welcome back, <%= current_user.name %>!</h3>
    </div>
  </div>

  <hr>

  <div class="row">
    <div id="tooltip" class="hidden">
      <span id="name">Task name</span><i class="close icon-remove"></i><br />
      <span id="when">Date here</span><br />
      <hr />
      <a href="" id="tooltip-link">View event &raquo;</a>
      <div class="arrow"></div>
    </div>
    <div class="span12">
      <div class="row">
        <div id="sidebar" class="span3">
          <h4>TASKS</h4>
          <div class="timeline-toggle" id="toggle-help">Click to toggle</div>

          <div class="timeline-toggle" id="toggle-guests"><span class="label">&nbsp;</span>&emsp;Guests</div>
          <div class="timeline-toggle" id="toggle-food"><span class="label">&nbsp;</span>&emsp;Food & Drinks</div>
          <div class="timeline-toggle" id="toggle-decorations"><span class="label">&nbsp;</span>&emsp;Flowers & Decorations</div>
          <div class="timeline-toggle" id="toggle-bridegroom"><span class="label">&nbsp;</span>&emsp;Bride & Groom</div>
          <div class="timeline-toggle" id="toggle-ceremony"><span class="label">&nbsp;</span>&emsp;Ceremony</div>
          <div class="timeline-toggle" id="toggle-gifts"><span class="label">&nbsp;</span>&emsp;Gifts & Registry</div>
          <div class="timeline-toggle" id="toggle-party"><span class="label">&nbsp;</span>&emsp;Wedding Party</div>
        </div>
        <div id="timeline" class="span9" data-wedding="<%= current_user.wedding_id %>" data-date="<%= Wedding.find(current_user.wedding_id).date %>"></div>
      </div>
<hr>
  
    </div>
  </div>

</div>

<%#= link_to 'New Event', new_event_path %>