
<div class="row">
	<div class="span12">

		<%= simple_form_for(@weddings, :html => {:class => 'form-vertical' }) do |f| %>
		<%= f.input :date, :required => true , :autofocus => true, :label =>false%>

		<%= f.button :submit, "Choose Wedding Date", :class => 'btn-primary' %>
		<% end %>
	</div>
</div>