<br/><br/>
<div class="row">
	<div class="span7">
		<h1>Pick your date</h1>
		<h4>You can change this later!</h4>

		<%= render "form" %>
		<hr>

		<h3>Picking the right date</h3>
		<p>Choosing the big day is no easy matter. Look for a day that is meaningful to you while considering important events in the year.</p>

		<p>Most couples plan for 12-18 months to make sure they are able to book their favorite venues and all their guests are given more than enough notice.</p>

		<p>Consider personally significant days, holiday weekends, religious and cultural holidays, days of remembrance, and unlucky days.</p>
	</div>
	<div class="span5">
		<h2>Important Dates</h2><hr>
		<ul>
		<li>Martin Luther King Jr. Day</li>
		<li>Presidents' Day</li>
		<li>Mother's Day</li>
		<li>Memorial Day</li>
		<li>Father's Day</li>
		<li>Independence Day</li>
		<li>Labor Day</li>
		<li>Columbus Day</li>
		<li>Halloween</li>
		<li>Thanksgiving</li>
		<li>New Year's (Eve)</li><hr>

		<li>Palm Sunday</li>
		<li>Easter Sunday</li>
		<li>Passover</li>
		<li>Tisha B'Av</li>
		<li>Rosh Hashanah</li>
		<li>Yom Kippur</li>
		<li>Hanukkah</li>
		<li>Christmas</li>
		<li>Kwanzaa</li>
		<li>Eid al-Fitr</li>
		<li>Eid al-Adha</li>
		<li>Ram Navami</li>
		<li>Krishna Janmashtami</li><hr>

		<li>Patriot Day</li>
		<li>National Pearl Harbor Remembrance Day</li><hr>

		<li>The Ides of March</li>
		<li>Friday the 13th</li>
		<li>Leap Years</li>
</ul>
	</div>
</div>