<h1>Weddings</h1>

<!-- <div id="weddings">
<%# @weddings.each do |wedding| %>
  <h2><%#= link_to wedding.name, wedding %></h2>
  <%#= pluralize wedding.events.size, "event" %> |
  <%#= link_to "Rename", edit_wedding_path(wedding) %> |
  <%#= link_to "Destroy", wedding, confirm: "Are you sure?", method: "delete" %>
<%# end %>
</div> -->

<p><%= link_to "New Wedding", new_wedding_path %></p>