/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui-1.10.3.custom.min
 *= require_tree .
*/

.content {
  padding: 0px 30px 30px 20px;
  margin: -20px -20px; /* negative indent the amount of the padding to maintain the grid system */
}

$guests: #CE1836;
$food: #f85931;
$decorations: #edb92e;
$bridegroom: #a3a948;
$ceremony: #009989;
$gifts: #3443A6;
$party: #492D61;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.guests-color{
  background-color:$guests;

  a{
    color:$guests;
  }
  }


.food-color{
  background-color:$food;
   a{
    color:$food;
  }
}

.decorations-color{
  background-color:$decorations;
   a{
    color:$decorations;
  }
}

.bridegroom-color{
  background-color:$bridegroom;
   a{
    color:$bridegroom;
  }
}

.ceremony-color{
  background-color:$ceremony;
   a{
    color:$ceremony;
  }
}

.gifts-color{
  background-color:$gifts;
   a{
    color:$gifts;
  }
}

.party-color{
  background-color:$party;
   a{
    color:$party;
  }
}



.landing-comments{
position:relative;
left:-20px;
}   

* {
  font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
}

input, button, select, textarea {
  font-family: "Lato", "Helvetica Neue", "Arial", sans-serif !important;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.container a {
  color: #3caeb3;
  &:hover {
    color: #3caeb3;
  }
}

[class*="span"].border {
  border-right: 1px solid #eee;
  + [class*="span"] {
    margin-left: 19px;
  }
}

.panel {
  background-color: #eee;
}

.navbar .brand {
  font-family: 'Lobster', "Helvetica Neue", "Arial", sans-serif;
  font-size: 2em;
  img {
    height: 24px;
    margin-right: 4px;
    margin-top: -4px;
  }
}

#timeline {
  height: 300px;
}

.axis {
  path, line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

.grid {
  path {
    stroke-width: 0;
    opacity: 0.7;
  }
  .tick {
    stroke: #eee;
    opacity: 0.7;
  }
}

.months .tick {
  stroke: #999;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px 12px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  z-index: 5;
  &.hidden {
    display: none;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 12px;
    pointer-events: all;
  }
  hr {
    margin: 5px 0;
  }
  #name {
    font-weight: bold;
    font-size: 1.1em;
    padding-right: 10px;
    white-space: pre-wrap;
  }
  a {
    pointer-events: all;
  }
  .arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    bottom: -11px;
    left: 50%;
    margin-left: -11px;
    border-top-color: #999;
    border-top-color: rgba(0, 0, 0, 0.25);
    border-width: 11px;
    border-bottom-width: 0;
    &:after {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      bottom: -9px;
      margin-left: -10px;
      border-top-color: #ffffff;
      border-bottom-width: 0;
      border-width: 10px;
      content: "";
    }
  }
}

.passed {
  pointer-events: none;
}

.hero {
  height: 360px;
  width: 100%;
  background: url("/assets/hero_image.png") no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
  position: absolute;
  top: 20px;
  left: 0px;
}

.hero-content {
  padding-top: 140px;
  h1 {
    color: #fff;
    -webkit-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -khtml-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -ms-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -o-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  }
  h2 {
    color: #fff;
    -webkit-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -khtml-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -ms-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    -o-text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    font-weight: 300;
    line-height: .8em;
  }
}

* {
  -webkit-transition: all 0.3s ease-out;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;
  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;
  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-out;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#comments-container {
  padding-left: 20px;
}

.clearfix {
  &:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.timeline-toggle span {
  padding: 5px 10px;
  margin-bottom: 10px;
  -webkit-transition: none;
  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: none;
  /* Firefox 4-15 */
  -o-transition: none;
  /* Opera 10.50–12.00 */
  transition: none;
  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.timeline-toggle:hover {
  cursor: pointer;
}

.timeline-toggle:hover span {
  cursor: pointer;
  opacity: 0.5;
}

#toggle-guests.enabled span, #toggle-food.enabled span, #toggle-decorations.enabled span, #toggle-bridegroom.enabled span, #toggle-ceremony.enabled span, #toggle-gifts.enabled span, #toggle-party.enabled span {
  background-color: #eee;
  border: 4px solid;
  padding: 1px 6px;
}

#toggle-help {
  font-weight: lighter;
  font-style: italic;
  margin: 10px;
  color: #999;
}

#toggle-guests span {
  background-color: $guests;
}

#toggle-guests.enabled span {
  border-color: $guests;
}

#toggle-food span {
  background-color: $food;
}

#toggle-food.enabled span {
  border-color: $food;
}

#toggle-decorations span {
  background-color: $decorations;
}

#toggle-decorations.enabled span {
  border-color: $decorations;
}

#toggle-bridegroom span {
  background-color: $bridegroom;
}

#toggle-bridegroom.enabled span {
  border-color: $bridegroom;
}

#toggle-ceremony span {
  background-color: $ceremony;
}

#toggle-ceremony.enabled span {
  border-color: $ceremony;
}

#toggle-gifts span {
  background-color: $gifts;
}

#toggle-gifts.enabled span {
  border-color: $gifts;
}

#toggle-party span {
  background-color: $party;
}

#toggle-party.enabled span {
  border-color: $party;
}

#sidebar {
  background-color: #eee;
  height: 300px;
  padding-left: 20px;
  margin-right: -20px;
}

#sidebar h4 {
  float: left;
  padding-right: 10px;
}

.navbar .brand:hover {
  color: #333;
}

#timeline-sec {
  h3 {
    display: inline;
  }
  .btn-group {
    top: -5px;
    left: 200px;
  }
}

#nocomments {
  text-align: center;
  margin-bottom: 20px;
  padding: 40px;
  color: #999;
}

.comments {
  margin: 0;
  .comment {
    list-style: none;
    margin-bottom: 20px;
    .timestamp {
      font-size: 0.85em;
      color: #999;
    }
    .pagination {
      margin-top: 0;
    }
  }
}